footer {
    display: flex;
    height: 70;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: italic;
  }
  @media (max-width: 720px){
    footer{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}